* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.3;
    padding-bottom: 2rem;
}

@media screen and (min-width: 1280px) {
    body {
        font-size: 1.3rem;
        padding-bottom: 5rem;
    }
}

h1 {
    text-align: center;
}

button {
    cursor: pointer;
    text-align: center;
    padding: 0.57rem;
    font-size: inherit;
    text-align: center;
    color: currentColor;
    background: white;
    border: 1px solid currentColor;
    border-radius: 0.2rem;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
}

/** FORM **/
.new-todo-form {
    display: flex;
    flex-direction: column;
}

.form-buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

@media screen and (min-width: 370px) {
    .form-buttons {
        flex-direction: row;
        align-items: unset;
    }
}

@media screen and (min-width: 700px) {
    .form-buttons {
        margin-right: 0;
    }
}

.input-button-wrap {
    display: flex;
}

.input-button-wrap input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: inherit;
}
.input-button-wrap button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    background: #e9e9e9;
}

#new-todo-form > * {
    margin: 0.15rem;
}

/** LIST **/
.list {
    padding: 0;
    margin-bottom: 10rem;
}

.list-item {
    list-style: none;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    background: #e9e9e9;
    padding: 1rem 0;
    margin-bottom: 1rem;
    cursor: move;
    width: 100%;
}

@media screen and (min-width: 370px) {
    .list-item {
        padding: 1rem;
    }
}

@media screen and (min-width: 990px) {
    .list-item {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}

/* Todo buttons and text */

@media screen and (min-width: 370px) {
    .btn-edit {
        min-width: 10ch;
    }
}

@media screen and (min-width: 370px) {
    .btn-complete {
        min-width: 12ch;
    }
}

.js-complete [data-list-item-text] {
    text-decoration: line-through;
}

@media screen and (min-width: 370px) {
    .btn-delete {
        min-width: 12ch;
    }
}

.text {
    margin: 0 0 1rem 0;
    padding: 0 1rem;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 60ch;
}

@media screen and (min-width: 990px) {
    .text {
        margin: 0;
    }
}

.text[contenteditable] {
    background: white;
    cursor: default;
}

.text[contenteditable]:focus {
    background: black;
    color: white;
    cursor: default;
}
